.modal-content form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input-field {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
}

.select-field {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
  background-color: #fff;
}

.button-row {
  display: flex;
  justify-content: flex-end; /* Align buttons to the right */
  gap: 10px; /* Space between buttons */
}

.update-task-btn,
.cancel-btn {
  padding: 10px 20px; /* Adjust padding for auto-width */
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.update-task-btn {
  background-color: #4caf50;
  color: #fff;
}

.update-task-btn:hover {
  background-color: #45a049;
}

.cancel-btn {
  background-color: #f44336;
  color: #fff;
}

.cancel-btn:hover {
  background-color: #e53935;
}
