

/* Modal Overlay */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  /* Modal Content */
  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  

input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box; /* Ensures padding doesn't affect the width */
  }
/* Select Dropdown Styles */
select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box; /* Ensures padding doesn't affect the width */
  }
    
  .submit-task-btn{
    width: 88px;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    margin-left: 200px;
    cursor: pointer;
  }
  
  .submit-task-btn:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
  }
  
  .submit-task-btn:hover:not(:disabled) {
    background-color: #45a049;
  }
  
  .close-modal-btn {
    background-color: #f44336;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    float: inline-end;
    margin-top: -38px;
    width: auto;
  }
  
  .close-modal-btn:hover {
    background-color: #e53935;
  }
  
  /* Message styles */
  .message {
    background-color: #ffeb3b;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 15px;
    text-align: center;
  }
  